<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Upload an Image</h2>
    <form enctype="multipart/form-data" method="POST">
        <input type="file" name="pic" accept="image/*">
        <button type="submit">Upload</button>
    </form>

    {% if uploaded_img %}
        <h3>Uploaded Image: </h3>
        <img src="{{ url_for('static', filename='uploads/' +  uploaded_img )}}" alt="">
    {% endif %}
</body>
</html>